body{
   background-color: rgb(243, 236, 241);
}

/* ----------------------------------------------------------------------------FIREWORK STYLING */
@keyframes firework {
   0% { 
     transform: translate(-50%, 60vh);
     width: 0.5vmin;
     opacity: 1;
   }
   50% { 
     width: 0.5vmin;
     opacity: 1;
   }
   100% { 
     width: 45vmin; 
     opacity: 0; 
   }
 }
 
 .firework,
 .firework::before,
 .firework::after {
   --top: 60vh;
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 0.5vmin;
   aspect-ratio: 1;
   background:
     radial-gradient(circle, rgb(158, 43, 131) 0.2vmin, #0000 0) 50% 00%,
     radial-gradient(circle, rgb(195, 56, 68) 0.3vmin, #0000 0) 00% 50%,
     radial-gradient(circle, rgb(88, 64, 221) 0.5vmin, #0000 0) 50% 99%,
     radial-gradient(circle, rgb(158, 43, 131) 0.2vmin, #0000 0) 99% 50%,
     radial-gradient(circle, rgb(189, 243, 89) 0.3vmin, #0000 0) 80% 90%,
     radial-gradient(circle, rgb(158, 43, 131) 0.5vmin, #0000 0) 95% 90%,
     radial-gradient(circle, rgb(86, 188, 88) 0.5vmin, #0000 0) 10% 60%,
     radial-gradient(circle, rgb(46, 213, 250) 0.2vmin, #0000 0) 31% 80%,
     radial-gradient(circle, rgb(136, 81, 159) 0.3vmin, #0000 0) 80% 10%,
     radial-gradient(circle, rgb(158, 43, 131) 0.2vmin, #0000 0) 90% 23%,
     radial-gradient(circle, rgb(50, 199, 95) 0.3vmin, #0000 0) 45% 20%,
     radial-gradient(circle, rgb(103, 58, 219) 0.5vmin, #0000 0) 13% 24%
     ;
   background-size: 0.5vmin 0.5vmin;
   background-repeat: no-repeat;
   animation: firework 3s infinite;
   position: fixed;
 }
 
 .firework::before {
   transform: translate(-50%, -50%) rotate(25deg) !important; 
 }
 
 .firework::after {
   transform: translate(-50%, -50%) rotate(-37deg) !important;
 }
 

 /* --------------------------------------------------------------------------------*/

 /* ---------------------------------------------------------------------- HEADER STYLING */
@keyframes backCol{
   from{ background-color: rgb(207, 154, 183) }
   to{ background-color: rgb(176, 144, 213);}
}
.page-header{
   animation-name: backCol;
  animation-duration: 4s;
  animation-iteration-count: infinite;
   background-color: rgb(207, 154, 183);
   color: white;
   border-radius: 5px;
   height: 70px;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.page-header h1{
   padding-left: 1%;
   padding-top: 0.5%;
   font-family: "Lucida Console", "Courier New", monospace;
}

 /* ------------------------------------------------------------------------------------*/

 /* ------------------------------------------------------------------------------- CARDS */

.bank-class, .work-class, .laptop-class, .laptop-display{
   background-color: rgb(233, 218, 232);
   padding: 2%;
   box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.laptop-display{
   width:85%;
   height:300px;
}

select{
   width: 220px;
   margin:2%;
   padding: 1%;
   border-radius:5px;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("https://tse4.mm.bing.net/th/id/OIP.kG6hvDU4QiLsonyyKlEcjAHaGl?pid=ImgDet&rs=1") 90% / 10% no-repeat #fff;
}
#computer-specs p {
   margin: 0;
}

.t1 {
   float:left;
   width:200px;
   height:200px;
}
.t2 {
   float:left;
   width:500px;
   height:200px;
   margin-left:20px;
   margin-top: 20px;
}
.t3 {
   margin-top: 50px;
   margin-right: 30px;
   float:right;
   width:180px;
   height:160px;
}

.t3 button{
   margin-top: 20px;
   width:180px;
   font-weight: bold;
}
.t3 h5{
   text-align: center;
}

.work-class button{
   margin-top: 39px;
   margin-right: 10px;
}

.btn{
   background-color: rgb(239, 194, 231);
   font-weight: bold;
}
 /* -----------------------------------------------------------------------------------------*/

 /* ------------------------------------------------------------------------------- SLIDING TEXT CONGRATS */

div.slide-left {
  width:100%;
  overflow:hidden;
}
div.slide-left h2{
  animation: slide-left 10s;
  animation-iteration-count: infinite;
}

@keyframes slide-left {
  from {
    margin-left: 200%;
    width: 300%; 
  }

  to {
    margin-left: -80%;
    width: 100%;
  }
}

 /* ---------------------------------------------------------------------------------------------- */
